* {
margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  display: flex;
}

.main {
  flex-direction: column;
  height: 4000px;
  background-color: lightblue;
  padding: 4rem;
}

.placeholder {
  height: 1000px;
}

.js-scroll-fade-up {
  background-color: white;
  padding: 3rem;
  opacity: 0.0;
  transform: translateY(150px);
  transition-property: all;
  transition-duration: 750ms;
}

.js-scroll-fade-up--activated {
  opacity: 1;
  transform: translateY(0)
}